::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #D4D4D4;
  border-radius: 3px;
}

.custom-select ul.MuiList-root {
  padding: 0 !important;
}

.MuiDataGrid-columnHeaderCheckbox .MuiDataGrid-columnHeaderTitleContainer {
  display: "none",
}

.MuiDataGrid-columnHeaderTitle {
  font-family: 'Poppins-SemiBold';
  font-size: 14px;
  color: #000000;
}

.MuiDataGrid-columnHeaders:hover .MuiDataGrid-columnSeparator {
  visibility: hidden !important
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within {
  outline: none !important;
}

.MuiDataGrid-cell.MuiDataGrid-cell--textLeft.MuiDataGrid-withBorderColor {
  font-family: 'Poppins-Regular';
  font-size: 14px;
  color: #000000;
}

/* .Mui-focused .MuiOutlinedInput-notchedOutline{
  border: 0;
} */
.css-31ca4x-MuiPickersFadeTransitionGroup-root {
  position: absolute !important;
  left: 68px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 170px;
}

.MuiDateCalendar-root {
  background-color: #0C345D;
  color: white;
  width: 312px !important;
  border-radius: 8px;
}
.MuiSvgIcon-fontSizeMedium.MuiPickersCalendarHeader-switchViewIcon{
  display: none;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiPickersArrowSwitcher-button {
  position: absolute !important;
  left:52px !important;
  color:rgb(255 255 255 / 40%)
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeStart.MuiPickersArrowSwitcher-button {
  right: 46px !important;
  color:rgb(255 255 255 / 40%)
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPickersPopper-paper{
  border-radius: 8px;
  background-color: transparent;
}

.MuiDayCalendar-weekDayLabel.MuiTypography-caption.MuiTypography-root {
  color: rgb(255 255 255 / 40%) !important;
  font-size: 12px !important;
  font-family: 'Poppins-Regular';
}

.MuiPickersCalendarHeader-label {
  color:  #FFFFFF;
  font-size: 14px;
  margin: 0 !important;
  font-family: 'Poppins-Regular';
}

.MuiPickersDay-root.MuiPickersDay-dayWithMargin{
  color: #FFFFFF;
  font-family: 'Poppins-Regular';
  font-size: 12px;
}
.MuiPickersDay-dayWithMargin.MuiPickersDay-dayOutsideMonth{
  color: rgb(255 255 255 / 12%);
  font-family: 'Poppins-Regular';
  font-size: 12px;
}
.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today{
  color: #FF8800;
  font-family: 'Poppins-Regular';
  font-size: 12px;
  border:0
}

button.MuiButtonBase-root.MuiPickersDay-root.Mui-selected{
  color: #FF8800;
  font-family: 'Poppins-Regular';
  font-size: 12px;
  border:0;
  background-color: transparent;
}


.MuiDateRangeCalendar-monthContainer {
  background-color: #0C345D;
  color: white;
  min-width: 245px;
  border-radius: 8px;
}

.MuiDateRangePickerDay-notSelectedDate.MuiDateRangePickerDay-dayOutsideRangeInterval {
  color: #FFFFFF;
  font-family: 'Poppins-Regular';
  font-size: 12px;
}
.MuiPickersDay-dayOutsideMonth.MuiDateRangePickerDay-dayOutsideRangeInterval{
  color: rgb(255 255 255 / 12%);
  font-family: 'Poppins-Regular';
  font-size: 12px
}


button.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-today{
  color: #FF8800;
  font-family: 'Poppins-Regular';
  font-size: 12px;
  border:0
}

.MuiPickersCalendarHeader-root{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.MuiPickersPopper-paper{
  margin-top: 5px;
}

.MuiDataGrid-footerContainer.MuiDataGrid-withBorderColor{
  border: none;
}